.productWrapImg{
    padding-top: 30px;
   
    .ProductBtnWrap{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 85px;
        justify-content: space-between;
        @media screen and (max-width: 767px){
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
        }
    }
    img{
        display: block;
        margin: 0 auto;
        @media screen and (max-width: 767px){
            margin: 50px auto 0 auto;
        }
    }
   
}
.productInfoBar{
    .productInfoBarWrap{
        background: #fcfcfc;
        padding: 25px 50px 50px 50px
    }
    max-width: 480px;
    min-height: 510px;
    margin: 0 0 0 auto;
    @media screen and (max-width: 991px) {
        margin: 0 auto
    }
    .file-upload{
        margin: 20px 0 0 0;
    }
    .productName{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2em;
        margin: 0;
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }
    hr{
        color: $lightGray;
    }
    .product_TextDelivery{
        padding: 20px 0 20px 0;
    }
    p{
        font-size: 1.1em;
        font-weight: 400;
        margin: 0;
        
    }
    .textColor{
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }
    .selectPram{
        @media screen and (max-width: 767px){
            text-align: center;
            margin: 10px auto;
        }
        p{
            margin: 0 0 15px 0;
        }
    }
    .chengeColor{
        display: flex;
        padding: 0;
        li{
            margin: 0 21px 0 0;
            .color{
                display: block;
                width: 29px;
                height: 29px;
                background: #f00;
                border-radius: 10px;
            }
        }
    }
    .productPrice{
        color: $mainBlue;
        font-weight: 500;
        font-size: 1.4em;
        margin: 0 0 15px 0;
        display: block;
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }

    .product_SelectColor{
        margin: 20px 0 15px  0;
    }
    .wrapBtn{
        display: flex;
        .blueButton{
            width: 55%;
            height: 58px;
            background-color: $blue;
            margin-top: 0;
        }
        .GrayButton{
            width: 40%;
            height: 58px;
            background-color: $gray;
            margin-top: 0;
            &:hover{
                box-shadow: 0 0 30px  $gray;
            }
        }
    }
    
}
.specialProduct{
    margin: 0 auto 50px auto;
    .specialProductTitle{
        p{
            font-size: 1.6em;
            font-weight: 900;
            margin: 0 0 50px 0;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
    }
}