.lineTitleWrap{
    overflow: hidden;
    .lineTitle{
        text-align: center;
        width: max-content;
        margin: 15px auto;
        font-size: 1.5em;
        color: $mainBlue ;
        position: relative;
        &::before{
            content: "";
            display: block;
            width: 1000%;
            position: absolute;
            border-bottom: 2px solid $mainBlue ;
            left: -1010%;
            top: 17px;
            z-index: 1;
        }
        &::after{
            content: "";
            display: block;
            width: 1000%;
            position: absolute;
            border-bottom: 2px solid $mainBlue ;
            right: -1010%;
            top: 17px;
            z-index: 1;
        }
    }
}
.alarmBlueTex{
    font-size: 1.4em;
    color: #8dd8f8;
    font-weight: 500;
}
.uppercase{
    text-transform: uppercase;
}
// Заголовок с нижним бордером
.titleAndBorderb{
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 1px;
    border-bottom: 1px solid;
    padding: 0 0 10px 0;
    font-weight: 900;
    margin: 0 0 20px 0;
    @media screen and (max-width: 991px) {
        text-align: center;
    }
}

// текст small с высоким интервалом
.textInfoProduct{
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 40px 0;
}