$lightGray          :   #949494;
$lightGrayBorder    :   #d8d8d8;
$mainBlue           :   #5ad9f9;
$blue               :   #8dd8f8;
$lightBlue          :   #d1f0fc;
$darkButton         :   #285864;
$Brown              :   #6f6f6f;
$UltralightGray     :   #f8f9fa;
$aqva               :   #34d9c8;
$black              :   #1b1b1b;
$gray               :   #c5c5c5;